html {
	padding-top: 0;
	margin-top: 0;
}
body {
	padding-top: 0;
	margin: 0 0;
	font-family: Trebuchet, Verdana;
}

p {
	font-size:16px;
}

ul {
	font-size:14px;
}

h1 {
	padding-top: 0;
	margin-top: 0;
	padding-left: 1vw; 
}

.primary_header {
	background-color: #3399ff;
	font-family:Georgia, Arial;
	padding-top:25px;
	font-size:32px;
	margin-top: 0;
	padding-left: 1vw;
}

.header {
	font-family:Georgia, Arial;
	font-size: 24px;
}

.date {
	font-size:12px;
}

p.paragraph {
	width:60%;
	padding-left: 1vw;
}

#profpic {
	height:30%;
	width:30%;
	float: right;
	margin-right: 7vw;
}


#links {
	margin-left: 3vw;
}

.lnk {
	font-size: 5vmin;
}

.resumeInfo {
	padding-left: 1vw;
}