body{
	font-family: Trebuchet, Verdana;
}

p{
	font-size:16px;
}

ul{
	font-size:14px;
}

.primary_header{
	background-color: #3399ff;
	font-family:Georgia, Arial;
	padding-top:25px;
	font-size:32px;
}

.header{
	font-family:Georgia, Arial;
	font-size: 24px;
}

.date{
	font-size:12px;
}

p.paragraph{
	width:60%;
}

#profpic{
	height:30%;
	width:30%;
}

.name{
	text-decoration: underline;
}