html {
	padding-top: 0;
	margin-top: 0;
}
body {
	padding-top: 0;
	margin: 0 0;
	font-family: Trebuchet, Verdana;
}

p {
	font-size:16px;
}

ul {
	font-size:14px;
}

h1 {
	padding-top: 0;
	margin-top: 0;
	padding-left: 1vw; 
}

.primary_header {
	background-color: #3399ff;
	font-family:Georgia, Arial;
	padding-top:22px;
	font-size:32px;
	margin-top: 0;
	padding-left: 1vw;
	border-bottom: 1vh solid brown;
}

.header {
	font-family:Georgia, Arial;
	font-size: 24px;
}

.date {
	font-size:12px;
}

p.paragraph {
	width:60%;
	padding-left: 1vw;
}

#profpic {
	width:50%;
	height:50%;
	padding-top: 3vh;
	padding-left: 2vw;
}

.lnk {
	font-size: 5vmin;
}

.resumeInfo {
	padding-left: 1vw;
}

#intro {
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 25vh;
	text-align: center;
}

.linkz {
    margin: 0;
    padding: 0;
    display: inline;
    overflow: hidden;
}

.menu {
  float: left;
  padding-top:15px;

}
.menu a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.menu a:hover {
    background-color: brown;
    color: white;
}
.active {
    background-color: #4CAF50;
    color: white;
}
.menu {
	display: inline;
}
.title {
	float: left;
	font-family: Georgia, Arial;
	font-size:32px;
	padding-top: 5px;
	padding-right: 1vw;

}
#left{
	position: absolute;
	float: left;
	width: 50vw;
	padding-left: 40vw;
}

#right {
	position: absolute;
	width: 50vw;
	float: left;
}

#gitPlug {
	padding-bottom: 5vw;
}